

<div class="post">
        <ul>
            <li> <%= post.content %> - by <%= post.user.name %> </li>
            <small> <%= post.created_at %> </small> 
            <li> <%= link_to "More", post %> </li>
        </ul>
</div>

